#content {
  border: none;
  box-shadow: none;
}

.selected, .selected:focus {
  background-color: #337ab7;
}

.columnHeader {
  min-height: 36px;
}

.columnControls {
  padding: 0 0 10px 0;
}


.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " x";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}

$green: #31D2B1;
$black: #2D3036;
$white: #F8F9FC;
$headers: #EFF5FE;
$grey: #ABB6C6;

.crouton {
  color: #FFF;
  line-height: 140%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 700px;
  width: 90%;
  text-align: center;
  z-index: 99999;
  margin: 0 auto;
  div {
    &.info { background-color: #1F8DD6; }
    &.success { background-color: #50CD84; }
    &.warning { background-color: #FF8859; }
    &.error { background-color: #FF5F5F; }
    span {
      display: block;
      margin-bottom: 0;
    }
  }
}